html,
body,.root,.App {
  height: 100%;
  padding: 0px;
  background-color: #f5f5f5;
}

body,.root,.App {
  display: flex;
  
}
.forBG{
  background-color: #f5f5f5 ;
}
#home {
    display: flex;
    background-color: #f5f5f5;
    height: 100%;
    padding: 0px;
}
  
.dropdown-toggle::after {
  display:none;
}
#liveAlertPlaceholder{
  position: absolute;
  bottom: 0;
  margin: 20px;
 
  
}
.forPadding {
  padding:10px;
  background-color: #F1F6F9;
  border-radius: 20px;
}

nav{
  background-color: #14274E;
}
#postButton,.postButton{
  background-color: #14274E;
  color:#f5f5f5;
}
#postButton:hover{
  background-color: #394867;
  
}

#newPostButton,.newPostButton{
  background-color: #14274E;
  color:#f5f5f5;
}
#newPostButton:hover{
  background-color: #394867;
  
}

#button-addon2{
  background-color: #14274E;
}
#button-addon2:hover{
 
  background-color: #394867;
}

#btnOutlined{
  border-style: solid;
}

#searchBtn{
  background-color: #F1F6F9;
}
#searchBtn:hover{
  background-color: #394867;
}

.notif {
  background-color: #394867;
  text-decoration: none;
  padding: 8px 9px;
  position: relative;
  display: inline-block;
  border-radius: .2rem;
  transition: all ease 0.4s;
  border-radius: 50px;
}
.notif:hover{
  background-color: #24458b;
  
}

#offcanvasNavbar-expand-md{
  background-color: #14274E;
  color: #F1F6F9;
}
#coverBackground{
  background-color: #394867;
}

#unfollow{
  background-color: #14274E;
  color: #f5f5f5;
}

#unfollow:hover{
  background-color: #f5f5f5;
  color: #14274E;
}

#follow{ 
  background-color: #f5f5f5;
  color: #14274E;
}

#follow:hover{
  background-color: #14274E;
  color: #f5f5f5;
}

#nameLink{
  text-decoration: none;
}
#nameLink:hover{
  text-decoration: underline;
  cursor: pointer;
}

.notifIcon > .dropdown-menu {

  overflow-y: scroll;
  min-height: 100px;
  max-height: 500px;
  
  }

.madeWith{
  padding-top: 15%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5%;
  transition: transform .2s; 
  opacity: 0.9;
  object-fit: cover;
  
}
.madeWith:hover{
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}
.madeWithLinks a{
  text-decoration: none;
  color: #394867;
}
.madeWithLinks a:hover{
  
  color: #14274E;
}

